body {
  max-width: 500px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 20px;
}

.k-logo {
  float: left;
  margin-top: 15px;
}

.status_container {
  width: 100%;
  min-height: 35px;
  margin-right: 10px;
}
.status {
  background: rgb(49, 165, 49);
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  display: none;
}

input[type=text] {
  width: 220px;
  margin-right: 20px;
}

.separator {
  margin: 10px 0;
}

.save-button {
  font-size: 14px;
  background: #007FCB;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
}
