body {
  padding: 20px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.status_container {
  width: 100%;
  min-height: 35px;
}
.status {
  width: 100%;
  background: rgb(49, 165, 49);
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  display: none;
}

input[type=text] {
  width: 200px;
}

.separator {
  margin: 10px 0;
}
